<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanghuan.dao.VwBidListDao">
  <resultMap id="vwBidListMap" type="com.wanghuan.model.sys.VwBidListEntity">
    <result column="bid_date" jdbcType="VARCHAR" property="bid_date" />
    <result column="bid_count" jdbcType="BIGINT" property="bid_count" />
    <result column="bid_total_amount" jdbcType="DECIMAL" property="bid_total_amount" />
    <result column="bid_date_time" jdbcType="TIMESTAMP" property="bid_date_time" />
  </resultMap>

  <!-- 获取user列表 -->
  <select id="selectByBidDate" resultMap="vwBidListMap">
    <![CDATA[select * from vw_bid_list]]>
    <where>
      bid_date = #{bidDate}
    </where>
  </select>
</mapper>