<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanghuan.dao.VwBidListDAO">
  <resultMap id="vwBidListMap" type="com.wanghuan.model.sys.VwBidListEntity">
    <result column="bid_date" jdbcType="VARCHAR" property="bid_date" />
    <result column="bid_count" jdbcType="BIGINT" property="bid_count" />
    <result column="bid_total_amount" jdbcType="DECIMAL" property="bid_total_amount" />
    <result column="bid_date_time" jdbcType="TIMESTAMP" property="bid_date_time" />
  </resultMap>

  <!-- 获取user列表 -->
  <select id="vwBidList" resultMap="vwBidListMap">
    <![CDATA[select * from vw_bid_list]]>
    <where>
      <if test="loginName != null and loginName != ''">
        login_name = #{loginName}
      </if>
    </where>
    <![CDATA[ order by id desc ]]>
    <if test="pageSize != null and start != null ">
      limit #{start},#{pageSize}
    </if>
  </select>

  <insert id="insert" parameterType="com.wanghuan.model.sys.VwBidListEntity">
    insert into vw_bid_list (bid_date, bid_count, bid_total_amount, 
      bid_date_time)
    values (#{bid_date,jdbcType=VARCHAR}, #{bid_count,jdbcType=BIGINT}, #{bid_total_amount,jdbcType=DECIMAL}, 
      #{bid_date_time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wanghuan.model.sys.VwBidListEntity">
    insert into vw_bid_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bid_date != null">
        bid_date,
      </if>
      <if test="bid_count != null">
        bid_count,
      </if>
      <if test="bid_total_amount != null">
        bid_total_amount,
      </if>
      <if test="bid_date_time != null">
        bid_date_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bid_date != null">
        #{bid_date,jdbcType=VARCHAR},
      </if>
      <if test="bid_count != null">
        #{bid_count,jdbcType=BIGINT},
      </if>
      <if test="bid_total_amount != null">
        #{bid_total_amount,jdbcType=DECIMAL},
      </if>
      <if test="bid_date_time != null">
        #{bid_date_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>